@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Secret Share Cloud File Storage</h1>
    <p class="lead">Store your files securely across multiple cloud storage services</p>
</div>
